<% @products.each do |product| %>
<div >

  <h2 id="product_images"><%= product["name"] %></h2>
  <%= image_tag (product["image_thumb_url"]) %>
  <ul id="product_details">
    <li>Category: <%= product["primary_category"]%></li>
    <li>Producer: <%= product["producer_name"]%></li>
    <li>Volume: <%= product["package_unit_volume_in_milliliters"] %> mL</li>
    <li><%= product["store_id"]%></li>
  </ul>
<% end %>
